Repository boostcampwm2023/iOS02-moti, pull requests merged in 2023-12, with the labels that each got.

#353 헤더뷰 업데이트 버그 수정
  iOS/moti/moti/Data/Sources/Repository/AchievementRepository.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/PostAchievementUseCase.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/UpdateAchievementUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/DetailAchievement/DetailAchievementCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/DetailAchievement/DetailAchievementView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/DetailAchievement/DetailAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/DetailAchievement/DetailAchievementViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeActionState.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewModel.swift
Labels: iOS, 메인, bug

#360 도전기록 업로드 방어로직 추가 / 업로드 중 표시
  iOS/moti/moti/Presentation/Sources/Presentation/Common/AlertFactory.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Common/BaseViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewModel.swift
Labels: feature, iOS, 메인

#365 키체인 적용 (로그인, 자동로그인, Access Token 헤더)
  iOS/moti/moti/Application/AppCoordinator.swift
  iOS/moti/moti/Data/Sources/Data/Network/Endpoint/MotiAPI.swift
  iOS/moti/moti/Data/Sources/Storage/KeychainStorage.swift
  iOS/moti/moti/Domain/Sources/Domain/StorageProtocol/KeychainStorageProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/AutoLoginUseCase.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/LoginUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Launch/LaunchCoodinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Launch/LaunchViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Login/LoginCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Login/LoginViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Login/LoginViewModel.swift
Labels: feature, iOS, 메인

#368 앱 설정 화면 구현
  iOS/moti/moti/Data/Sources/Data/Network/DTO/UserDTO.swift
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Logo/AppIcon.imageset/AppIcon 1.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Logo/AppIcon.imageset/AppIcon 2.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Logo/AppIcon.imageset/AppIcon.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Logo/AppIcon.imageset/Contents.json
  iOS/moti/moti/Design/Sources/Design/MotiImage.swift
  iOS/moti/moti/Domain/Sources/Domain/Entity/User.swift
  iOS/moti/moti/Domain/Sources/Domain/Entity/Version.swift
  iOS/moti/moti/Domain/Sources/Domain/StorageProtocol/UserDefaults+Extension.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/AutoLoginUseCase.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/FetchVersionUseCase.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/LoginUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/AppInfo/AppInfoCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/AppInfo/AppInfoView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/AppInfo/AppInfoViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
Labels: feature, iOS, 메인

#357 그룹 탈퇴를 할 수 있다.
  BE/src/common/exception/error-code.ts
  BE/src/group/group/application/group.service.spec.ts
  BE/src/group/group/application/group.service.ts
  BE/src/group/group/controller/group.controller.spec.ts
  BE/src/group/group/controller/group.controller.ts
  BE/src/group/group/dto/group-leave-response.dto.ts
  BE/src/group/group/entities/user-group.repository.spec.ts
  BE/src/group/group/entities/user-group.repository.ts
  BE/src/group/group/exception/leader-not-allowed-to-leave.exception.ts
  BE/src/group/group/exception/no-such-user-group.exception.ts
Labels: BE, feature, 메인

#364 upload location을 https로 통일한다.
  BE/src/common/application/file-store/object-storage-file-store.ts
Labels: BE, bug

#381 로딩 인디케이터 구현
  iOS/moti/moti/Presentation/Sources/Presentation/Common/LoadingIndicator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
Labels: feature, iOS, 메인

#389 런치 화면에서 자동로그인 진행상황을 표시한다.
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/Cell/AchievementCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Launch/LaunchView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Launch/LaunchViewController.swift
Labels: feature, iOS, 메인

#377 그룹 리스트 반환시에 자신의 권한을 같이 반환한다.
  BE/src/group/group/controller/group.controller.spec.ts
  BE/src/group/group/dto/group-preview.dto.ts
  BE/src/group/group/entities/group.repository.spec.ts
  BE/src/group/group/entities/group.repository.ts
  BE/src/group/group/index.ts
Labels: BE, feature, 메인

#393 DetailInfoView 구현
  iOS/moti/moti/Presentation/Sources/Presentation/Common/DetailInfoListView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/DetailAchievement/DetailAchievementView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Extension/Date+Extension.swift
Labels: enhancement, iOS, 메인

#394 categoryId get-only로 변경 / Context menu에 제목도 표시
  iOS/moti/moti/Domain/Sources/Domain/Entity/Achievement.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewModel.swift
Labels: enhancement, iOS, 메인

#385 그룹내 특정 달성 기록을 차단할 수 있다.
  BE/src/app.module.ts
  BE/src/common/exception/error-code.ts
  BE/src/group/achievement/application/group-achievement.service.spec.ts
  BE/src/group/achievement/application/group-achievement.service.ts
  BE/src/group/achievement/controller/group-achievement.controller.spec.ts
  BE/src/group/achievement/controller/group-achievement.controller.ts
  BE/src/group/achievement/dto/reject-group-achievement-response.dto.ts
  BE/src/group/achievement/entities/group-achievement.repository.spec.ts
  BE/src/group/achievement/entities/group-achievement.repository.ts
  BE/src/group/achievement/entities/user-blocked-group-achievement.repository.spec.ts
  BE/src/group/achievement/entities/user-blocked-group-achievement.repository.ts
  BE/src/group/achievement/exception/invalid-reject-request.exception.ts
  BE/src/group/achievement/exception/no-such-group-achievement.exception.ts
  BE/src/group/achievement/group-achievement.module.ts
  BE/src/group/achievement/index.ts
Labels: BE, feature, 메인

#396 미설정 카테고리 기능
  BE/src/achievement/application/achievement.service.spec.ts
  BE/src/achievement/application/achievement.service.ts
  BE/src/achievement/domain/achievement.domain.ts
  BE/src/achievement/dto/achievement-detail-response.ts
  BE/src/achievement/entities/achievement.repository.spec.ts
  BE/src/achievement/entities/achievement.repository.ts
  BE/src/category/application/category.service.ts
  BE/src/category/category.module.ts
  BE/src/category/dto/category-list-element.response.spec.ts
  BE/src/category/dto/category-list-element.response.ts
  BE/src/category/dto/category-list-regacy.response.spec.ts
  BE/src/category/dto/category-metadata.ts
  BE/src/category/entities/category.repository.ts
  BE/src/category/index.ts
  BE/src/image/entities/image.entity.ts
Labels: enhancement, BE, 메인

#398 그룹 도전기록 상세화면 UI 구현
  iOS/moti/moti/Design/Sources/Design/BounceButton.swift
  iOS/moti/moti/Design/Sources/Design/EmojiButton.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewModel.swift
Labels: feature, iOS, 메인

#427 그룹 생성 구현
  iOS/moti/moti/Data/Sources/Data/Network/DTO/CreateGroupDTO.swift
  iOS/moti/moti/Data/Sources/Data/Network/DTO/FetchGroupListDTO.swift
  iOS/moti/moti/Data/Sources/Data/Network/Endpoint/MotiAPI.swift
  iOS/moti/moti/Data/Sources/Repository/GroupRepository.swift
  iOS/moti/moti/Domain/Sources/Domain/RepositoryProtocol/GroupRepositoryProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/CreateGroupUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/GroupListCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/GroupListViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/GroupListViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
Labels: feature, iOS, 메인

#428 그룹 정보 화면으로 이동 & UI 구현중
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupInfo/GroupInfoCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupInfo/GroupInfoView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupInfo/GroupInfoViewController.swift
Labels: feature, iOS, 메인

#431 토큰 에러
  BE/src/common/exception/error-code.ts
Labels: BE, bug

#439 그룹원 초대, 그룹원 조회, 그룹원 권한 수정 API를 추가한다.
  BE/src/common/exception/error-code.ts
  BE/src/config/config/validation-decorator.ts
  BE/src/group/category/entities/group-category.repository.spec.ts
  BE/src/group/group/application/group.service.spec.ts
  BE/src/group/group/application/group.service.ts
  BE/src/group/group/controller/group.controller.spec.ts
  BE/src/group/group/controller/group.controller.ts
  BE/src/group/group/domain/user-group.doamin.ts
  BE/src/group/group/dto/assign-grade-request.dto.ts
  BE/src/group/group/dto/assign-grade-response.dto.ts
  BE/src/group/group/dto/group-user-list-response.ts
  BE/src/group/group/dto/invite-group-request.dto.ts
  BE/src/group/group/dto/invite-group-response.ts
  BE/src/group/group/entities/group.repository.spec.ts
  BE/src/group/group/entities/group.repository.ts
  BE/src/group/group/entities/user-group.entity.ts
  BE/src/group/group/entities/user-group.repository.spec.ts
  BE/src/group/group/entities/user-group.repository.ts
  BE/src/group/group/exception/duplicated-invite.exception.ts
  BE/src/group/group/exception/invite-permission-denied.exception.ts
  BE/src/group/group/exception/only-leader-allowed-assign-grade.exception.ts
  BE/src/group/group/group.module.ts
  BE/src/users/dto/group-user-info.dto.ts
  BE/src/users/entities/user.entity.ts
  BE/src/users/entities/user.repository.spec.ts
  BE/src/users/entities/user.repository.ts
  BE/src/users/index.ts
Labels: BE, feature, 메인

#442 도전 성공 축하 화면 구현
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Contents.json
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Fire.imageset/Contents.json
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Fire.imageset/fire_1f525 1.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Fire.imageset/fire_1f525 2.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Fire.imageset/fire_1f525.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Like.imageset/Contents.json
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Like.imageset/thumbs-up_1f44d 1.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Like.imageset/thumbs-up_1f44d 2.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Like.imageset/thumbs-up_1f44d.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Party.imageset/Contents.json
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Party.imageset/party-popper_1f389 1.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Party.imageset/party-popper_1f389 2.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Party.imageset/party-popper_1f389.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Smile.imageset/Contents.json
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Smile.imageset/smiling-face-with-hearts_1f970 1.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Smile.imageset/smiling-face-with-hearts_1f970 2.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Smile.imageset/smiling-face-with-hearts_1f970.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Star.imageset/Contents.json
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Star.imageset/star_2b50 1.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Star.imageset/star_2b50 2.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Emoji/Star.imageset/star_2b50.png
  iOS/moti/moti/Design/Sources/Design/EmojiImage.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Celebrate/CelebrateViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Extension/Date+Extension.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
Labels: feature, iOS, 메인

#459 카테고리 저장, 리스트(샘플json) API 연결
  iOS/moti/moti/Data/Sources/Repository/GroupCategoryRepository.swift
  iOS/moti/moti/Domain/Sources/Domain/Entity/CategoryItem.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeActionState.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/Cell/HeaderView.swift
Labels: feature, iOS, 메인

#460 그룹 홈 삭제, 수정 API 연결 (UI 테스트는 도전기록 API 되면 진행)
  iOS/moti/moti/Domain/Sources/Domain/UseCase/DeleteAchievementUseCase.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/PostAchievementUseCase.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/UpdateAchievementUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeActionState.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Launch/LaunchView.swift
Labels: feature, iOS, 메인

#464 그룹리스트에서 촬영 버튼 숨기기 / 탭바 버그 수정(임시)
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/GroupListViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/TabBar/TabBarViewController.swift
Labels: feature, iOS, 메인

#462 그룹의 단 건의 달성 기록 조회를 위한 API를 작성한다.
  BE/src/achievement/exception/unauthorized-achievement.exception.ts
  BE/src/common/exception/error-code.ts
  BE/src/group/achievement/application/group-achievement.service.spec.ts
  BE/src/group/achievement/application/group-achievement.service.ts
  BE/src/group/achievement/controller/group-achievement.controller.spec.ts
  BE/src/group/achievement/controller/group-achievement.controller.ts
  BE/src/group/achievement/entities/group-achievement.repository.spec.ts
  BE/src/group/achievement/entities/group-achievement.repository.ts
Labels: BE, feature, 메인

#466 CaptureVC 이동 로직 수정, HiddenTabBarVC 구현
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Common/BaseViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Common/HiddenTabBarViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/DetailAchievement/DetailAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupInfo/GroupInfoViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupMember/GroupMemberViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/TabBar/TabBarCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/TabBar/TabBarViewController.swift
Labels: feature, iOS, 메인

#471 사용자 차단, 도전기록 차단 구현 (API 포함)
  iOS/moti/moti/Data/Sources/Data/Network/DTO/BlockingDTO.swift
  iOS/moti/moti/Data/Sources/Data/Network/Endpoint/MotiAPI.swift
  iOS/moti/moti/Data/Sources/Repository/BlockingRepository.swift
  iOS/moti/moti/Domain/Sources/Domain/RepositoryProtocol/BlockingRepositoryProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/BlockingAchievementUseCase.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/BlockingUserUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeActionState.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewModel.swift
Labels: feature, iOS, 메인

#476 그룹 권한 수정 API를 호출한다.
  iOS/moti/moti/Data/Sources/Data/Network/DTO/FetchGroupListDTO.swift
  iOS/moti/moti/Data/Sources/Data/Network/DTO/FetchGroupMemberListDTO.swift
  iOS/moti/moti/Data/Sources/Data/Network/DTO/UpdateGradeDTO.swift
  iOS/moti/moti/Data/Sources/Data/Network/Endpoint/MotiAPI.swift
  iOS/moti/moti/Data/Sources/Repository/GroupMemberRepository.swift
  iOS/moti/moti/Design/Sources/Design/SymbolImage.swift
  iOS/moti/moti/Domain/Sources/Domain/Entity/Group.swift
  iOS/moti/moti/Domain/Sources/Domain/RepositoryProtocol/GroupMemberRepositoryProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/UpdateGradeUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupInfo/GroupInfoViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupMember/Cell/GroupMemberCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupMember/GroupMemberCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupMember/GroupMemberViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupMember/GroupMemberViewModel.swift
Labels: feature, iOS, 메인

#477 그룹원 초대 구현
  iOS/moti/moti/Data/Sources/Data/Network/Common/NetworkError.swift
  iOS/moti/moti/Data/Sources/Data/Network/DTO/InviteMemberDTO.swift
  iOS/moti/moti/Data/Sources/Data/Network/Endpoint/MotiAPI.swift
  iOS/moti/moti/Data/Sources/Repository/GroupMemberRepository.swift
  iOS/moti/moti/Domain/Sources/Domain/RepositoryProtocol/GroupMemberRepositoryProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/InviteMemberUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeActionState.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/GroupListViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
Labels: feature, iOS, 메인

#479 그룹 달성 기록 리스트를 조회한다
  BE/src/group/achievement/application/group-achievement.service.spec.ts
  BE/src/group/achievement/application/group-achievement.service.ts
  BE/src/group/achievement/controller/group-achievement.controller.spec.ts
  BE/src/group/achievement/controller/group-achievement.controller.ts
  BE/src/group/achievement/dto/group-achievement-response.ts
  BE/src/group/achievement/dto/paginate-group-achievement-request.ts
  BE/src/group/achievement/dto/paginate-group-achievement-response.ts
  BE/src/group/achievement/entities/group-achievement.repository.spec.ts
  BE/src/group/achievement/entities/group-achievement.repository.ts
  BE/src/group/achievement/index.ts
  BE/src/users/entities/user.entity.ts
Labels: BE, feature, 메인

#480 그룹의 카테고리 리스트 API를 작성한다.
  BE/src/achievement/entities/achievement.repository.spec.ts
  BE/src/achievement/entities/achievement.repository.ts
  BE/src/category/application/category.service.spec.ts
  BE/src/category/application/category.service.ts
  BE/src/category/entities/category.repository.spec.ts
  BE/src/category/entities/category.repository.ts
  BE/src/common/exception/error-code.ts
  BE/src/group/category/application/group-category.service.spec.ts
  BE/src/group/category/application/group-category.service.ts
  BE/src/group/category/controller/group-category.controller.spec.ts
  BE/src/group/category/controller/group-category.controller.ts
  BE/src/group/category/dto/group-category-list-element.response.ts
  BE/src/group/category/dto/group-category-metadata.ts
  BE/src/group/category/entities/group-category.entity.ts
  BE/src/group/category/entities/group-category.repository.spec.ts
  BE/src/group/category/entities/group-category.repository.ts
  BE/src/group/category/exception/unauthorized-approach-group-category.exception.ts
  BE/src/group/category/index.ts
Labels: BE, feature, 메인

#478 그룹 탈퇴를 구현한다.
  iOS/moti/moti/Data/Sources/Data/Network/DTO/DropGroupDTO.swift
  iOS/moti/moti/Data/Sources/Data/Network/Endpoint/MotiAPI.swift
  iOS/moti/moti/Data/Sources/Repository/GroupRepository.swift
  iOS/moti/moti/Domain/Sources/Domain/RepositoryProtocol/GroupRepositoryProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/DropGroupUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupInfo/GroupInfoCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupInfo/GroupInfoTableViewDataSource.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupInfo/GroupInfoViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupInfo/GroupInfoViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/GroupListCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/GroupListViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/GroupListViewModel.swift
Labels: feature, iOS, 메인

#489 단 건의 그룹 카테고리 정보를 조회하는 API를 작성한다.
  BE/src/common/pipe/parse-int.pipe.ts
  BE/src/group/category/application/group-category.service.spec.ts
  BE/src/group/category/application/group-category.service.ts
  BE/src/group/category/controller/group-category.controller.spec.ts
  BE/src/group/category/controller/group-category.controller.ts
  BE/src/group/category/entities/group-category.repository.spec.ts
  BE/src/group/category/entities/group-category.repository.ts
Labels: BE, feature, 메인

#491 그룹 달성 기록 삭제 및 수정 기능
  BE/src/group/achievement/application/group-achievement.service.spec.ts
  BE/src/group/achievement/application/group-achievement.service.ts
  BE/src/group/achievement/controller/group-achievement.controller.spec.ts
  BE/src/group/achievement/controller/group-achievement.controller.ts
  BE/src/group/achievement/domain/group-achievement.domain.ts
  BE/src/group/achievement/dto/group-achievement-delete-response.ts
  BE/src/group/achievement/dto/group-achievement-update-request.ts
  BE/src/group/achievement/dto/group-achievement-update-response.ts
  BE/src/group/achievement/entities/group-achievement.repository.spec.ts
  BE/src/group/achievement/entities/group-achievement.repository.ts
  BE/src/group/achievement/index.ts
  BE/src/group/category/entities/group-category.repository.ts
Labels: BE, feature, 메인

#494 달성기록에 이모지를 남기기 위한 테이블을 설계한다.
  BE/src/group/emoji/domain/emoji.ts
  BE/src/group/emoji/domain/group-achievement-emoji.domain.ts
  BE/src/group/emoji/entities/group-achievement-emoji.entity.spec.ts
  BE/src/group/emoji/entities/group-achievement-emoji.entity.ts
  BE/test/group/emoji/group-achievement-emoji-fixture.ts
Labels: BE, 메인

#496 이모지 id 소문자에서 대문자로 수정
  iOS/moti/moti/Domain/Sources/Domain/Entity/Emoji.swift
Labels: enhancement, iOS

#500 그룹 카테고리에서 전체 카테고리 정보 조회 이슈
  BE/src/group/category/application/group-category.service.spec.ts
  BE/src/group/category/application/group-category.service.ts
  BE/src/group/category/entities/group-category.repository.spec.ts
  BE/src/group/category/entities/group-category.repository.ts
Labels: BE, bug

#501 카테고리 단일 정보 API 연결, 홈 헤더뷰 업데이트
  iOS/moti/moti/Data/Sources/Data/Network/Endpoint/MotiAPI.swift
  iOS/moti/moti/Data/Sources/Repository/AchievementRepository.swift
  iOS/moti/moti/Data/Sources/Repository/CategoryRepository.swift
  iOS/moti/moti/Data/Sources/Repository/GroupAchievementRepository.swift
  iOS/moti/moti/Data/Sources/Repository/GroupCategoryRepository.swift
  iOS/moti/moti/Data/Sources/Storage/CategoryStorage.swift
  iOS/moti/moti/Data/Tests/DataTests/Repository/Mock/MockCategoryListRepository.swift
  iOS/moti/moti/Domain/Sources/Domain/RepositoryProtocol/AchievementRepositoryProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/RepositoryProtocol/CategoryRepositoryProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/RepositoryProtocol/DeleteAchievementRepositoryProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/RepositoryProtocol/DetailAchievementRepositoryProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/StorageProtocol/CategoryStorageProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/AddCategoryUseCase.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/DeleteAchievementUseCase.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/FetchCategoryListUseCase.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/PostAchievementUseCase.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/UpdateAchievementUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/DetailAchievement/DetailAchievementCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/DetailAchievement/DetailAchievementViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeActionState.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeActionState.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewModel.swift
Labels: feature, iOS, 메인

#504 네트워크 시간 측정
  iOS/moti/moti/Data/Sources/Data/Network/Provider/Provider.swift
Labels: feature, iOS, 메인

#506 Bottom Sheet 사라지는 타이밍 조정
  iOS/moti/moti/Presentation/Sources/Presentation/Celebrate/CelebrateViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewController.swift
Labels: enhancement, iOS, 메인

#510 다운 샘플링 이미지로 업로드, 사진 업로드에 실패하면 다시 시도
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Common/BaseViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Extension/UIImage+Extension.swift
Labels: feature, iOS, 메인

#502 단 건의 카테고리 조회 API를 작성한다.
  BE/src/category/application/category.service.spec.ts
  BE/src/category/application/category.service.ts
  BE/src/category/controller/category.controller.spec.ts
  BE/src/category/controller/category.controller.ts
  BE/src/category/entities/category.repository.spec.ts
  BE/src/category/entities/category.repository.ts
  BE/src/category/exception/not-found-category.exception.ts
  BE/src/common/exception/error-code.ts
Labels: BE, feature, 서포트

#513 특정 달성 기록에 대해 그룹원이 이모지 등록을 토글할 수 있는 API를 작성한다.
  BE/src/app.module.ts
  BE/src/common/exception/error-code.ts
  BE/src/common/pipe/parse-emoji.pipe.ts
  BE/src/group/achievement/entities/group-achievement.repository.ts
  BE/src/group/emoji/application/group-achievement-emoji.service.spec.ts
  BE/src/group/emoji/application/group-achievement-emoji.service.ts
  BE/src/group/emoji/controller/group-achievement-emoji.controller.spec.ts
  BE/src/group/emoji/controller/group-achievement-emoji.controller.ts
  BE/src/group/emoji/domain/group-achievement-emoji.domain.ts
  BE/src/group/emoji/dto/group-achievement-emoji-response.ts
  BE/src/group/emoji/entities/group-achievement-emoji.entity.ts
  BE/src/group/emoji/entities/group-achievement-emoji.repository.spec.ts
  BE/src/group/emoji/entities/group-achievement-emoji.repository.ts
  BE/src/group/emoji/exception/invalid-emoji.exception.ts
  BE/src/group/emoji/group-achievement-emoji.module.ts
  BE/test/group/emoji/group-achievement-emoji-fixture.ts
  BE/test/group/emoji/group-achievement-emoji-test.module.ts
Labels: BE, feature, 메인

#521 유저는 기본 avatarUrl을 갖는다.
  .github/workflows/be.cd.yml
  .github/workflows/be.ci.yml
  BE/src/auth/application/auth.service.spec.ts
  BE/src/auth/application/auth.service.ts
  BE/src/auth/application/avatar.holder.spec.ts
  BE/src/auth/application/avatar.holder.ts
  BE/src/auth/auth.module.ts
  BE/src/config/config/index.ts
  BE/src/group/achievement/application/group-achievement.service.ts
  BE/src/group/achievement/controller/group-achievement.controller.spec.ts
  BE/src/group/achievement/dto/group-achievement-response.ts
  BE/src/group/achievement/entities/group-achievement.repository.spec.ts
  BE/src/group/achievement/entities/group-achievement.repository.ts
  BE/src/group/achievement/index.ts
  BE/src/users/domain/user.domain.ts
Labels: BE, feature, 서포트

#517 [Release] v0.3 배포
  BE/public/index.html
Labels: BE, iOS, release

#522 v0.0.3 릴리즈
  iOS/moti/moti.xcodeproj/project.pbxproj
  iOS/moti/moti/Data/Sources/Data/Network/DTO/AchievementListDTO.swift
  iOS/moti/moti/Data/Sources/Data/Network/DTO/DetailAchievementDTO.swift
  iOS/moti/moti/Data/Sources/Data/Network/DTO/UserDTO.swift
  iOS/moti/moti/Domain/Package.swift
  iOS/moti/moti/Domain/Sources/Domain/Entity/Achievement.swift
  iOS/moti/moti/Domain/Sources/Domain/StorageProtocol/UserDefaults+Extension.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/AutoLoginUseCase.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/LoginUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/Cell/GroupListCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/GroupListViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupMember/Cell/GroupMemberCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/Cell/AchievementCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
Labels: feature, iOS, 메인

#524 [iOS] feat: 캡처 버튼 버그 수정, 편집화면 버그 수정
  iOS/moti/moti/Design/Sources/Design/CaptureButton.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
Labels: iOS, 메인, bug

#525 편집 화면 및 캡처버튼 버그 픽스
  iOS/moti/moti/Design/Sources/Design/CaptureButton.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
Labels: iOS, bug

#540 촬영 화면으로 들어갈 때 카메라 프리뷰의 위치가 아래로 살짝 내려가는 버그 픽스
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureView.swift
Labels: enhancement, iOS

#542 회원탈퇴 버튼 추가 / 촬영, 편집 화면 오토레이아웃 수정 / 아이패드 대응 오토레이아웃 추가
  iOS/moti/moti/Data/Sources/Data/Network/DTO/UpdateAchievementDTO.swift
  iOS/moti/moti/Data/Tests/DataTests/Repository/AchievementListRepositoryTests.swift
  iOS/moti/moti/Domain/Sources/Domain/Entity/Achievement.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/FetchDetailAchievementUseCase.swift
  iOS/moti/moti/JKImageCache/Package.swift
  iOS/moti/moti/Presentation/Sources/Presentation/AppInfo/AppInfoView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Authorization/AppleLoginRequester.swift
  iOS/moti/moti/Presentation/Sources/Presentation/AutoLayout/AutoLayoutWrapper+UIView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/DetailAchievement/DetailAchievementView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeActionState.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeActionState.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Login/LoginViewController.swift
Labels: enhancement, feature, iOS, 메인

#534 redis option 수정
  BE/src/config/redis/index.ts
Labels: BE, bug

#538 달성 기록에 대해 이모지 통계를 조회할 수 있는 API를 작성한다.
  BE/src/group/emoji/application/group-achievement-emoji.service.spec.ts
  BE/src/group/emoji/application/group-achievement-emoji.service.ts
  BE/src/group/emoji/controller/group-achievement-emoji.controller.spec.ts
  BE/src/group/emoji/controller/group-achievement-emoji.controller.ts
  BE/src/group/emoji/dto/composite-group-achievement-emoji.spec.ts
  BE/src/group/emoji/dto/composite-group-achievement-emoji.ts
  BE/src/group/emoji/dto/group-achievement-emoji-list-element.ts
  BE/src/group/emoji/dto/index.ts
  BE/src/group/emoji/entities/group-achievement-emoji.repository.spec.ts
  BE/src/group/emoji/entities/group-achievement-emoji.repository.ts
  BE/test/group/emoji/group-achievement-emoji-fixture.ts
  BE/test/group/emoji/group-achievement-emoji-test.module.ts
Labels: enhancement, BE, feature

#544 여러 기기에서 촬영버튼 바닥 여백 대응, 촬영 화면의 촬영 버튼 애니메이션 추가
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/TabBar/TabBarViewController.swift
Labels: enhancement, feature, iOS, 메인

#547 Manager 권한 이상인 경우 그룹내 다른 멤버의 기록을 삭제할 수 있다.
  BE/src/group/achievement/application/group-achievement.service.spec.ts
  BE/src/group/achievement/application/group-achievement.service.ts
  BE/src/group/achievement/controller/group-achievement.controller.spec.ts
  BE/src/group/achievement/entities/group-achievement.repository.ts
  BE/src/group/achievement/group-achievement.module.ts
Labels: enhancement, BE, 서포트

#545 회원 탈퇴를 할 수 있다.
  .github/workflows/be.cd.yml
  .github/workflows/be.ci.yml
  BE/src/achievement/entities/achievement.entity.ts
  BE/src/admin/entities/admin.entity.ts
  BE/src/auth/application/auth.service.spec.ts
  BE/src/auth/application/auth.service.ts
  BE/src/auth/application/jwt-utils.ts
  BE/src/auth/application/oauth-handler.spec.ts
  BE/src/auth/application/oauth-handler.ts
  BE/src/auth/application/oauth-requester.spec.ts
  BE/src/auth/application/oauth-requester.ts
  BE/src/auth/controller/auth.controller.spec.ts
  BE/src/auth/controller/auth.controller.ts
  BE/src/auth/dto/revoke-apple-auth-request.dto.ts
  BE/src/auth/dto/revoke-apple-auth-response.dto.ts
  BE/src/auth/exception/fetch-access-token.exception.ts
  BE/src/auth/exception/invalid-identifier.exception.ts
  BE/src/auth/exception/revoke-request-fail.exception.ts
  BE/src/category/entities/category.entity.ts
  BE/src/common/exception/error-code.ts
  BE/src/config/config/index.ts
  BE/src/group/achievement/entities/group-achievement.entity.ts
  BE/src/group/achievement/entities/user-blocked-group-achievement.entity.ts
  BE/src/group/category/entities/group-category.entity.ts
  BE/src/group/emoji/entities/group-achievement-emoji.entity.ts
  BE/src/group/group/entities/user-group.entity.ts
  BE/src/image/entities/image.entity.ts
  BE/src/users/entities/user-blocked-user.entity.ts
  BE/src/users/entities/users-role.entity.ts
Labels: BE, feature, 메인

#549 회원탈퇴 API 연결 / 신고버튼 구현
  iOS/moti/moti/Core/Sources/Core/Logger.swift
  iOS/moti/moti/Data/Sources/Data/Network/Endpoint/MotiAPI.swift
  iOS/moti/moti/Data/Sources/Repository/AuthRepository.swift
  iOS/moti/moti/Data/Tests/DataTests/Repository/Mock/MockLoginRepository.swift
  iOS/moti/moti/Domain/Sources/Domain/RepositoryProtocol/AuthRepositoryProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/AutoLoginUseCase.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/LoginUseCase.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/RevokeUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/AppInfo/AppInfoCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/AppInfo/AppInfoViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/AppInfo/AppInfoViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Authorization/AppleLoginRequester.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Launch/LaunchCoodinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Login/LoginCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Login/LoginViewController.swift
  iOS/moti/moti/Resource/Info.plist
Labels: feature, iOS, 메인

#552 아이패드 셀 개수 수정 & 그룹 리스트 최근 달성일로 정렬하기
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/GroupListViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeView.swift
Labels: enhancement, iOS

#556 그룹 미설정 카테고리의 도전기록 도전회차 중첩 이슈
  BE/src/achievement/entities/achievement.repository.spec.ts
  BE/src/achievement/entities/achievement.repository.ts
  BE/src/group/achievement/application/group-achievement.service.ts
  BE/src/group/achievement/entities/group-achievement.repository.spec.ts
  BE/src/group/achievement/entities/group-achievement.repository.ts
Labels: BE, bug

#557 그룹 가입 API를 추가한다.
  BE/src/common/exception/error-code.ts
  BE/src/group/group/application/group-code-generator.spec.ts
  BE/src/group/group/application/group-code-generator.ts
  BE/src/group/group/application/group.service.spec.ts
  BE/src/group/group/application/group.service.ts
  BE/src/group/group/controller/group.controller.spec.ts
  BE/src/group/group/controller/group.controller.ts
  BE/src/group/group/domain/group.domain.ts
  BE/src/group/group/dto/group-preview.dto.ts
  BE/src/group/group/dto/join-group-request.dto.ts
  BE/src/group/group/dto/join-group-response.dto.ts
  BE/src/group/group/entities/group.entity.spec.ts
  BE/src/group/group/entities/group.entity.ts
  BE/src/group/group/entities/group.repository.spec.ts
  BE/src/group/group/entities/group.repository.ts
  BE/src/group/group/exception/duplicated-join.exception.ts
  BE/src/group/group/exception/no-such-group.exception.ts
  BE/src/group/group/group.module.ts
  BE/src/group/group/index.ts
  BE/test/group/group/group-fixture.ts
Labels: BE, feature

#558 그룹 참여를 구현한다.
  iOS/moti/moti/Data/Sources/Data/Network/DTO/FetchGroupListDTO.swift
  iOS/moti/moti/Data/Sources/Data/Network/DTO/JoinGroupDTO.swift
  iOS/moti/moti/Data/Sources/Data/Network/Endpoint/MotiAPI.swift
  iOS/moti/moti/Data/Sources/Repository/GroupRepository.swift
  iOS/moti/moti/Domain/Sources/Domain/Entity/Group.swift
  iOS/moti/moti/Domain/Sources/Domain/RepositoryProtocol/GroupRepositoryProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/JoinGroupUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupInfo/GroupInfoView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/GroupListCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/GroupListViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/GroupListViewModel.swift
Labels: feature, iOS

#560 v1.0 배포 준비
  BE/public/index.html
Labels: BE, iOS, release

#561 앱 스토어, 개인정보처리방침 연결 (앱 스토어 심사 버전)
  iOS/moti/moti.xcodeproj/project.pbxproj
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample1.imageset/Contents.json
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample1.imageset/IMG_8195 1.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample1.imageset/IMG_8195 2.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample1.imageset/IMG_8195.png
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample2.imageset/3AD03B58-D3B5-4464-A6CF-C11A6C812484_1_105_c 1.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample2.imageset/3AD03B58-D3B5-4464-A6CF-C11A6C812484_1_105_c 2.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample2.imageset/3AD03B58-D3B5-4464-A6CF-C11A6C812484_1_105_c.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample2.imageset/Contents.json
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample3.imageset/4D5B7796-A525-4487-B8CF-F651F72C451E_1_105_c 1.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample3.imageset/4D5B7796-A525-4487-B8CF-F651F72C451E_1_105_c 2.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample3.imageset/4D5B7796-A525-4487-B8CF-F651F72C451E_1_105_c.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample3.imageset/Contents.json
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample4.imageset/10F4D012-CD5B-450D-A249-7597C78A7890_1_105_c 1.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample4.imageset/10F4D012-CD5B-450D-A249-7597C78A7890_1_105_c 2.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample4.imageset/10F4D012-CD5B-450D-A249-7597C78A7890_1_105_c.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample4.imageset/Contents.json
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample5.imageset/2649A957-BD88-4635-BF95-185B9A56C2A1_1_105_c 1.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample5.imageset/2649A957-BD88-4635-BF95-185B9A56C2A1_1_105_c 2.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample5.imageset/2649A957-BD88-4635-BF95-185B9A56C2A1_1_105_c.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample5.imageset/Contents.json
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample6.imageset/877E6B03-3AF8-44C4-9D81-FFE0F4AB2570_1_105_c 1.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample6.imageset/877E6B03-3AF8-44C4-9D81-FFE0F4AB2570_1_105_c 2.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample6.imageset/877E6B03-3AF8-44C4-9D81-FFE0F4AB2570_1_105_c.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample6.imageset/Contents.json
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample7.imageset/AC393C10-3E9E-40AC-97F9-D1D6F828ADE8_1_105_c 1.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample7.imageset/AC393C10-3E9E-40AC-97F9-D1D6F828ADE8_1_105_c 2.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample7.imageset/AC393C10-3E9E-40AC-97F9-D1D6F828ADE8_1_105_c.jpeg
  iOS/moti/moti/Design/Sources/Design/Design.xcassets/Sample/Sample7.imageset/Contents.json
  iOS/moti/moti/Design/Sources/Design/MotiImage.swift
  iOS/moti/moti/Presentation/Sources/Presentation/AppInfo/AppInfoViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureViewController.swift
  iOS/moti/moti/Resource/Info.plist
Labels: enhancement, feature, iOS, 메인

#563 배포 컨테이너의 타임존을 서울로 설정한다.
  .github/workflows/be.cd.yml
Labels: BE

#565 Readme 업데이트
  README.md
Labels: enhancement, 메인

#568 그룹 기록 추가 API 응답에 user info를 추가해서 반환한다.
  BE/src/group/achievement/application/group-achievement.service.spec.ts
  BE/src/group/achievement/controller/group-achievement.controller.spec.ts
  BE/src/group/achievement/dto/group-achievement-detail-response.ts
  BE/src/group/achievement/entities/group-achievement.repository.ts
  BE/src/group/achievement/index.ts
Labels: BE

#569 버그 트리아즈 피드백 버그 수정
  iOS/moti/moti/Data/Sources/Data/Network/DTO/DetailAchievementDTO.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Common/BaseViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Common/DetailInfoListView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/DetailAchievement/DetailAchievementView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/GroupListViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/Cell/AchievementCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
Labels: iOS, 메인, bug

#571 마스터클래스 버그리포팅2
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Common/TextViewBottomSheet.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewModel.swift
Labels: enhancement, iOS, bug

#573 보이스 오버 적용
  iOS/moti/moti/Design/Sources/Design/CaptureButton.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/DetailAchievement/DetailAchievementView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupDetailAchievement/GroupDetailAchievementView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupInfo/GroupInfoView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/Cell/GroupListCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupList/GroupListViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupMember/Cell/GroupMemberCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/Cell/AchievementCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/Cell/CategoryCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Launch/LaunchView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Login/LoginView.swift
Labels: feature, iOS, 서포트

#574 보이스오버 이미지 버튼에 이미지 trait 추가
  iOS/moti/moti/Presentation/Sources/Presentation/Home/Cell/AchievementCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
Labels: enhancement, iOS, 서포트

#575 README 기술적 고민 내용 추가
  README.md
Labels: BE, iOS, 메인

#578 커넥션 타임아웃 조정
  BE/src/config/typeorm/index.ts
Labels: BE, bug

#580 카테고리 화살표 이미지 추가
  README.md
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementView.swift
Labels: enhancement, iOS

#581 Readme에 앱 스토어 링크 추가
  README.md
Labels: enhancement

#582 인터랙션 애니메이션 영상 첨부
  README.md
Labels: enhancement

#586 차단한 유저 목록을 조회 및 차단 해제 할 수 있다.
  BE/src/common/exception/error-code.ts
  BE/src/users/application/users.service.spec.ts
  BE/src/users/application/users.service.ts
  BE/src/users/controller/users.controller.spec.ts
  BE/src/users/controller/users.controller.ts
  BE/src/users/domain/user-blocked-user.domain.ts
  BE/src/users/dto/allow-user-response.dto.ts
  BE/src/users/dto/reject-info.dto.ts
  BE/src/users/dto/reject-user-list-response.dto.ts
  BE/src/users/entities/user-blocked-user.entity.ts
  BE/src/users/entities/user-blocked-user.repository.spec.ts
  BE/src/users/entities/user-blocked-user.repository.ts
  BE/src/users/exception/invalid-allow-request.exception.ts
Labels: BE, feature, 메인

#589 고해상도 업로드 구현
  iOS/moti/moti.xcodeproj/project.pbxproj
  iOS/moti/moti/Domain/Sources/Domain/StorageProtocol/UserDefaults+Extension.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Capture/CaptureViewController.swift
Labels: feature, iOS, 메인

#599 README 오타 수정
  README.md
Labels: enhancement

#591 카테고리의 순서를 변경할 수 있다.
  BE/src/category/application/category.service.spec.ts
  BE/src/category/application/category.service.ts
  BE/src/category/category.module.ts
  BE/src/category/controller/category.controller.spec.ts
  BE/src/category/controller/category.controller.ts
  BE/src/category/domain/category.domain.ts
  BE/src/category/dto/category-create.ts
  BE/src/category/dto/category-relocate.request.ts
  BE/src/category/entities/category.entity.ts
  BE/src/category/entities/category.repository.spec.ts
  BE/src/category/entities/category.repository.ts
  BE/src/category/exception/Invalid-Category-Relocate.exception.ts
  BE/src/common/exception/error-code.ts
  BE/src/group/emoji/entities/group-achievement-emoji.repository.spec.ts
  BE/src/users/domain/user.domain.ts
  BE/src/users/entities/user.entity.ts
  BE/src/users/entities/user.repository.ts
  BE/test/category/category-fixture.ts
Labels: BE, feature

#593 운영정책 변경은 관리 계정만 가능하도록 제한한다.
  BE/src/operate/controller/operate.controller.spec.ts
  BE/src/operate/controller/operate.controller.ts
  BE/src/operate/operate.module.ts
  BE/test/admin/admin-fixture.ts
  BE/test/auth/auth-fixture.ts
Labels: enhancement, BE

#598 카테고리 관리 화면을 만든다.
  iOS/moti/moti/Domain/Sources/Domain/Entity/CategoryItem.swift
  iOS/moti/moti/Presentation/Sources/Presentation/DetailAchievement/DetailAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/Cell/ManageCategoryCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/ManageCategoryCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/ManageCategoryView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/ManageCategoryViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/ManageCategoryViewModel.swift
Labels: feature, iOS, 메인

#602 카테고리 순서를 변경한다.
  iOS/moti/moti/Data/Sources/Data/Network/Endpoint/MotiAPI.swift
  iOS/moti/moti/Data/Sources/Repository/CategoryRepository.swift
  iOS/moti/moti/Data/Sources/Repository/GroupCategoryRepository.swift
  iOS/moti/moti/Domain/Sources/Domain/RepositoryProtocol/CategoryRepositoryProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/ReorderCategoriesUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/DetailAchievement/DetailAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeActionState.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeActionState.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/Home/HomeViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/ManageCategoryCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/ManageCategoryViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/ManageCategoryViewModel.swift
Labels: feature, iOS, 메인

#603 카테고리를 삭제할 수 있다.
  BE/src/category/application/category.service.spec.ts
  BE/src/category/application/category.service.ts
  BE/src/category/controller/category.controller.spec.ts
  BE/src/category/controller/category.controller.ts
  BE/src/category/entities/category.repository.ts
  BE/src/category/exception/category-not-found.exception.ts
  BE/src/common/exception/error-code.ts
  BE/src/users/domain/user.domain.ts
  BE/test/category/category-fixture.ts
  BE/test/category/category-test.module.ts
Labels: BE, feature

#607 카테고리 cell 삭제 버튼으로 임시 변경
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/Cell/ManageCategoryCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/ManageCategoryViewController.swift
Labels: iOS

#610 차단 관리 화면을 만든다.
  iOS/moti/moti/Data/Sources/Data/Network/DTO/FetchBlockedUserListDTO.swift
  iOS/moti/moti/Data/Sources/Data/Network/Endpoint/MotiAPI.swift
  iOS/moti/moti/Data/Sources/Repository/BlockingRepository.swift
  iOS/moti/moti/Domain/Sources/Domain/Entity/User.swift
  iOS/moti/moti/Domain/Sources/Domain/RepositoryProtocol/BlockingRepositoryProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/FetchBlockedUserListUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/BlockedUserList/BlockedUserListCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/BlockedUserList/BlockedUserListView.swift
  iOS/moti/moti/Presentation/Sources/Presentation/BlockedUserList/BlockedUserListViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/BlockedUserList/BlockedUserListViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/BlockedUserList/Cell/BlockedUserListCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupInfo/GroupInfoCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupInfo/GroupInfoTableViewDataSource.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupInfo/GroupInfoViewController.swift
Labels: feature, iOS, 메인

#611 어드민 개발
  BE/package-lock.json
  BE/package.json
  BE/public/AppIcon.png
  BE/public/index.html
  BE/public/js/logout.js
  BE/src/admin/controller/admin-rest.controller.ts
  BE/src/auth/auth.module.ts
  BE/src/auth/exception/UnAuthorized-Admin-Page.exception.ts
  BE/src/auth/guard/admin-page-token.guard.ts
  BE/src/common/exception/error-code.ts
  BE/src/common/filter/unauthorized-page-exception.filter.ts
  BE/src/main.ts
  BE/src/operate/controller/operate-mvc.controller.ts
  BE/views/login.ejs
  BE/views/operate/retrieve.ejs
  BE/views/operate/update.ejs
Labels: enhancement, BE
