Repository boostcampwm2023/iOS02-moti, pull requests merged in 2024-01, with the labels that each got.

#614 차단했던 그룹원을 차단 해제한다.
  iOS/moti/moti/Data/Sources/Data/Network/Endpoint/MotiAPI.swift
  iOS/moti/moti/Data/Sources/Repository/BlockingRepository.swift
  iOS/moti/moti/Domain/Sources/Domain/RepositoryProtocol/BlockingRepositoryProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/UnblockUserUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/BlockedUserList/BlockedUserListCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/BlockedUserList/BlockedUserListViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/BlockedUserList/BlockedUserListViewModel.swift
  iOS/moti/moti/Presentation/Sources/Presentation/BlockedUserList/Cell/BlockedUserListCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupInfo/GroupInfoCoordinator.swift
Labels: feature, iOS, 메인

#616 그룹 순서를 변경할 수 있다.
  BE/src/common/exception/error-code.ts
  BE/src/group/group/application/group.service.spec.ts
  BE/src/group/group/application/group.service.ts
  BE/src/group/group/controller/group.controller.spec.ts
  BE/src/group/group/controller/group.controller.ts
  BE/src/group/group/domain/group.domain.ts
  BE/src/group/group/domain/user-group.doamin.ts
  BE/src/group/group/dto/group-relocate-request.ts
  BE/src/group/group/entities/group.entity.spec.ts
  BE/src/group/group/entities/group.repository.ts
  BE/src/group/group/entities/user-group.entity.spec.ts
  BE/src/group/group/entities/user-group.entity.ts
  BE/src/group/group/entities/user-group.repository.spec.ts
  BE/src/group/group/entities/user-group.repository.ts
  BE/src/group/group/exception/Invalid-Group-Relocate.exception.ts
  BE/src/users/domain/user.domain.ts
  BE/src/users/entities/user.entity.ts
  BE/test/group/group/group-fixture.ts
  BE/test/group/group/group-test.module.ts
Labels: BE, feature

#618 그룹 카테고리 순서를 변경한다.
  BE/src/category/controller/category.controller.ts
  BE/src/group/category/application/group-category.service.spec.ts
  BE/src/group/category/application/group-category.service.ts
  BE/src/group/category/controller/group-category.controller.spec.ts
  BE/src/group/category/controller/group-category.controller.ts
  BE/src/group/category/domain/group.category.ts
  BE/src/group/category/dto/group-category-create.ts
  BE/src/group/category/dto/group-category-relocate.ts
  BE/src/group/category/entities/group-category.entity.spec.ts
  BE/src/group/category/entities/group-category.entity.ts
  BE/src/group/category/entities/group-category.repository.spec.ts
  BE/src/group/category/entities/group-category.repository.ts
  BE/src/group/group/domain/group.domain.spec.ts
  BE/src/group/group/domain/group.domain.ts
  BE/src/group/group/dto/create-group-request.dto.ts
  BE/src/group/group/entities/group.entity.spec.ts
  BE/src/group/group/entities/group.entity.ts
  BE/src/group/group/entities/group.repository.ts
  BE/test/group/category/group-category-fixture.ts
  BE/test/group/category/group-category-test.module.ts
  BE/test/group/group/group-fixture.ts
Labels: BE, feature

#620 그룹 카테고리를 삭제한다.
  BE/src/category/controller/category.controller.ts
  BE/src/common/exception/error-code.ts
  BE/src/group/category/application/group-category.service.spec.ts
  BE/src/group/category/application/group-category.service.ts
  BE/src/group/category/controller/group-category.controller.spec.ts
  BE/src/group/category/controller/group-category.controller.ts
  BE/src/group/category/entities/group-category.repository.ts
  BE/src/group/group/domain/group.domain.ts
  BE/src/group/group/entities/group.repository.ts
  BE/src/group/group/entities/user-group.repository.ts
Labels: BE, feature

#621 회원 탈퇴 및 그룹 탈퇴 로직 세부 추가 구현
  BE/src/auth/application/auth.service.spec.ts
  BE/src/auth/application/auth.service.ts
  BE/src/auth/auth.module.ts
  BE/src/group/achievement/entities/group-achievement.entity.ts
  BE/src/group/category/entities/group-category.entity.ts
  BE/src/group/group/application/group.service.spec.ts
  BE/src/group/group/application/group.service.ts
  BE/src/group/group/entities/group.entity.ts
  BE/src/group/group/entities/user-group.entity.ts
  BE/src/group/group/entities/user-group.repository.spec.ts
  BE/src/group/group/entities/user-group.repository.ts
  BE/src/group/group/group.module.ts
Labels: enhancement, BE, feature

#624 카테고리 삭제를 구현한다.
  iOS/moti/moti/Data/Sources/Data/Network/Endpoint/MotiAPI.swift
  iOS/moti/moti/Data/Sources/Repository/CategoryRepository.swift
  iOS/moti/moti/Data/Sources/Repository/GroupCategoryRepository.swift
  iOS/moti/moti/Domain/Sources/Domain/RepositoryProtocol/CategoryRepositoryProtocol.swift
  iOS/moti/moti/Domain/Sources/Domain/UseCase/DeleteCategoryUseCase.swift
  iOS/moti/moti/Presentation/Sources/Presentation/EditAchievement/EditAchievementViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/Cell/ManageCategoryCollectionViewCell.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/ManageCategoryCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/ManageCategoryViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/ManageCategoryViewModel.swift
Labels: feature, iOS, 메인

#625 그룹의 카테고리 순서를 변경한다.
  iOS/moti/moti/Data/Sources/Data/Network/Endpoint/MotiAPI.swift
  iOS/moti/moti/Data/Sources/Repository/GroupCategoryRepository.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/GroupHome/GroupHomeViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/ManageCategoryViewModel.swift
Labels: feature, iOS, 메인

#627 204 코드를 200으로 변경
  BE/src/category/controller/category.controller.spec.ts
  BE/src/category/controller/category.controller.ts
  BE/src/group/category/controller/group-category.controller.spec.ts
  BE/src/group/category/controller/group-category.controller.ts
  BE/src/group/group/controller/group.controller.spec.ts
  BE/src/group/group/controller/group.controller.ts
Labels: BE, 서포트, bug

#629 카테고리 편집 결과를 리스트에 적용한다
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/ManageCategoryCoordinator.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/ManageCategoryViewController.swift
  iOS/moti/moti/Presentation/Sources/Presentation/ManageCategory/ManageCategoryViewModel.swift
Labels: feature, iOS, 메인

#631 1.1.0으로 버전 수정
  iOS/moti/moti.xcodeproj/project.pbxproj
Labels: feature, iOS
